@font-face {
    font-family: Lemon;
    src: url(../fonts/Lemon-Regular.ttf);
}
#brand {
    font-family: Lemon;
    color: #C0C0C0;

}



.footer-copyright {
    margin-top: 270px;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
	background-color: #e3f2fd
}